<div data-ng-controller="UserDetails as vm">
    <div class="panel panel-primary">
        <div class="panel-heading">User Detail</div>
        <div class="panel-body detail">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">First Name:</label>
                    <div class="col-xs-9 col-sm-10">
                        {{vm.user.FirstName}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">Last Name:</label>
                    <div class="col-xs-9 col-sm-10">
                        {{vm.user.LastName}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">Address:</label>
                    <div class="col-xs-9 col-sm-10">
                        {{vm.user.Address}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">City:</label>
                    <div class="col-xs-9 col-sm-10">
                        {{vm.user.City}}
                    </div>
                </div><div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">State:</label>
                    <div class="col-xs-9 col-sm-10">
                        {{vm.user.State}}
                    </div>
                </div><div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">PostalCode:</label>
                    <div class="col-xs-9 col-sm-10">
                        {{vm.user.PostalCode}}
                    </div>
                </div><div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">Email:</label>
                    <div class="col-xs-9 col-sm-10">
                        {{vm.user.Email}}
                    </div>
                </div><div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">Phone Number:</label>
                    <div class="col-xs-9 col-sm-10">
                        {{vm.user.PhoneNumber}}
                    </div>
                </div><div class="form-group">
                    <label class="col-xs-3 col-sm-2 control-label">Roles:</label>
                    <div class="col-xs-9 col-sm-10">
                        {{vm.user.Roles}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right ng-isolate-scope">
                <a class="btn btn-primary" href="/#/User/Edit/{{vm.user.Id}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a class="btn btn-primary" href="/#/UserAdmin"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a>
            </div>
        </div>
    </div>
</div>
