@{
    ViewBag.Title = "Inbox";
}
<h2>Inbox</h2>

Your sample inbox here...<br />

<div class="row">
	<div class="col-md-12">
		<!-- Check all button -->
		<button class="btn btn-default btn-sm checkbox-toggle"><i class="glyphicon glyphicon-unchecked"></i></button>
		<div class="btn-group">
			<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
			<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
			<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-share-alt"></i></button>
		</div><!-- /.btn-group -->
		<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i></button>
		<div class="pull-right">
			1-50/200
			<div class="btn-group">
				<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
				<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-right"></i></button>
			</div><!-- /.btn-group -->
		</div><!-- /.pull-right -->
	</div>
	<hr>
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-hover table-bordered table-striped">
				<tbody>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="glyphicon glyphicon-star"></i></a></td>
						<td class="mailbox-name"><a href="#">Hymenaeos turpis, malesuada leo, quam wisi fusce.</a></td>
						<td class="mailbox-subject">Lorem ipsum dolor sit amet, nec pede suspendisse consectetuer, nulla ut nunc platea...</td>
						<td class="mailbox-attachment"><i class="glyphicon glyphicon-paperclip"></i></td>
						<td class="mailbox-date">5 mins ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">Quis neque pariatur, lacus sem etiam, facilisis sed</a></td>
						<td class="mailbox-subject">Lorem ipsum dolor sit amet, purus ut ad diam, auctor odio dis enim, dignissim id vitae et velit, ridiculus leo sed faucibus arcu...</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">28 mins ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">Ligula tortor lacus, dolor rhoncus.</a></td>
						<td class="mailbox-subject">Lorem ipsum dolor sit amet, quam risus commodo vivamus at, tortor mattis cum nec....</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">11 hours ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="glyphicon glyphicon-star"></i></a></td>
						<td class="mailbox-name"><a href="#">Malesuada arcu fringilla.</a></td>
						<td class="mailbox-subject">Eros mattis quod praesent felis, semper turpis ac et, amet donec vel vulputate suscipit....</td>
						<td class="mailbox-attachment"><i class="glyphicon glyphicon-paperclip"></i></td>
						<td class="mailbox-date">15 hours ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">Lorem ipsum dolor sit amet, eleifend tincidunt</a></td>
						<td class="mailbox-subject">Et lorem at non tortor, enim morbi fusce mus curabitur...</td>
						<td class="mailbox-attachment"><i class="glyphicon glyphicon-paperclip"></i></td>
						<td class="mailbox-date">Yesterday</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">Quisque ut, sit erat euismod, lectus perv</a></td>
						<td class="mailbox-subject">Scelerisque magna nullam nisl, cum phasellus quis in, eget feugiat nulla minima gravida...</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">2 days ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">Lorem ipsum dolor sit amet, platea nostrud ante</a></td>
						<td class="mailbox-subject">Elit elit hendrerit in, donec congue feugiat velit leo, molestie magnis dictum donec, in magna mi ante...</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">2 days ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">Lorem ipsum lectus odio quam.</a></td>
						<td class="mailbox-subject">Amet wisi quis tempus neque, in eget vitae sed elit, et lacus etiam placerat amet...</td>
						<td class="mailbox-attachment"></td>
						<td class="mailbox-date">2 days ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="glyphicon glyphicon-star"></i></a></td>
						<td class="mailbox-name"><a href="#">Lorem ipsum dolor sit amet, ante ante</a></td>
						<td class="mailbox-subject">Lobortis massa porta interdum non, eum ipsum pellentesque pretium, urna duis amet aptent duis...</td>
						<td class="mailbox-attachment"></td>
						<td class="mailbox-date">2 days ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">Lorem ipsum dolor sit amet, non ac.</a></td>
						<td class="mailbox-subject">Esse praesent amet cum ante, nullam nulla ac ac volutpat, imperdiet elementum dis eget, elit inceptos et vulputate...</td>
						<td class="mailbox-attachment"></td>
						<td class="mailbox-date">2 days ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">Lorem ipsum dolor sit amet, nulla pede.</a></td>
						<td class="mailbox-subject">Non sed dis blandit suspendisse, sapien vel non nibh...</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">4 days ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">WM06</a></td>
						<td class="mailbox-subject">Tempor nulla nec urna, congue maecenas nec nullam nulla, sagittis leo duis dignissim, leo vivamus cras fusce...</td>
						<td class="mailbox-attachment"><i class="glyphicon glyphicon-paperclip"></i></td>
						<td class="mailbox-date">12 days ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">Lorem ipsum dolor sit amet</a></td>
						<td class="mailbox-subject">Cras pede aliquam porta mauris, enim metus fames ac massa, torquent eleifend vel imperdiet, elementum non commodo congue...</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">12 days ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">Lorem ipsum dolor sit amet, integer pede a</a></td>
						<td class="mailbox-subject">Consectetuer commodo massa felis, sed egestas at dui, velit turpis ac in semper, litora justo mollis cras eros...</td>
						<td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
						<td class="mailbox-date">14 days ago</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
						<td class="mailbox-name"><a href="#">Lorem ipsum dolor sit amet, odio rhoncus, sit ultrices.</a></td>
						<td class="mailbox-subject">Lacus pede sit nec, et quam mauris nulla purus, dictumst quam nostra quasi erat...</td>
						<td class="mailbox-attachment"><i class="glyphicon glyphicon-paperclip"></i></td>
						<td class="mailbox-date">15 days ago</td>
					</tr>
				</tbody>
			</table><!-- /.table -->
		</div><!-- /.mail-box-messages -->
	</div>
	<div class="col-md-12">
		<!-- Check all button -->
		<button class="btn btn-default btn-sm checkbox-toggle"><i class="glyphicon glyphicon-unchecked"></i></button>
		<div class="btn-group">
			<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
			<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
			<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-share-alt"></i></button>
		</div><!-- /.btn-group -->
		<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i></button>
		<div class="pull-right">
			1-50/200
			<div class="btn-group">
				<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
				<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-right"></i></button>
			</div><!-- /.btn-group -->
		</div><!-- /.pull-right -->
	</div>
</div>
