<!-- Call Web API: // POST api/Account/Register -->
<!-- Controller: AccountController.cs -->
<!-- Action: Register -->
<div class="col-sm-12" ng-controller="signupController">
    <form class="form-login" role="form" data-bind="submit: register">
        <h3>Register</h3>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" placeholder="Email" data-ng-model="registration.Email" required autofocus data-bind="value: registerEmail" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" placeholder="Password" data-ng-model="registration.password" required data-bind="value: registerPassword" />
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input class="form-control" type="password" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required data-bind="value: registerPassword2" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" data-ng-click="signUp()">Register</button>
        </div>
    </form>
</div>
