<div ng-controller="indexController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="/#/">Home</a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="#menu-toggle" id="menu-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left" style="padding-left:100px;" data-ng-hide="!authentication.isAuth">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-envelope"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
            <!-- If Not Authenticated, show below -->
            <ul class="nav navbar-nav navbar-right" data-ng-show="!authentication.isAuth">
                <li><a id="registerLink" href="/#/register">Register</a> </li>
                <li><a id="loginLink" href="/#/login">Login</a> </li>
            </ul>
            <!-- If Authenticated, show below -->
            <ul class="nav navbar-nav navbar-right" data-ng-hide="!authentication.isAuth">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hello {{authentication.userName}} ! <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="editProfile" href="/#/Account/Profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                        <li><a id="changePassword" href="/#/Account/ChangePassword"><i class="glyphicon glyphicon-lock"></i> Change Password</a> </li>
                        <li class="divider"></li>
                        <li><a href="/#/" ng-click="logOut()"><i class="glyphicon glyphicon-log-out"></i> Log off</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-hide="!authentication.isAuth">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-bell"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-hide="!authentication.isAuth">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-question-sign"></i></a>
                    <ul class="dropdown-menu">
                        <li><a>Home</a></li>
                        <li><a>Contact</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>