<form id="ab120AddEdit" name="ab120AddEdit">
	<div class="panel panel-primary" data-ng-controller="ab120AddEdit as vm">
		<div class="panel-heading">{{vm.Title}}</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="row has-error">
					<span id="error" class="help-block"></span>
				</div>
				
				<div class="form-group">
					<label class="col-xs-3 col-sm-2 control-label">Gkey:</label>
					<div class="col-xs-9 col-sm-10">
						{{vm.ab120.gkey}}
					</div>
				</div>
				<div class="form-group">
					<label for="ba015gkey" class="col-xs-3 col-sm-2 control-label">Ba015gkey:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="ba015gkey" name="ba015gkey" ng-model="vm.ab120.ba015gkey" />
					</div>
				</div>
				<div class="form-group">
					<label for="ba015gkey1" class="col-xs-3 col-sm-2 control-label">Ba015gkey1:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="ba015gkey1" name="ba015gkey1" ng-model="vm.ab120.ba015gkey1" />
					</div>
				</div>
				<div class="form-group">
					<label for="ac002gkey1" class="col-xs-3 col-sm-2 control-label">Ac002gkey1:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="ac002gkey1" name="ac002gkey1" ng-model="vm.ab120.ac002gkey1" />
					</div>
				</div>
				<div class="form-group">
					<label for="ac002gkey2" class="col-xs-3 col-sm-2 control-label">Ac002gkey2:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="ac002gkey2" name="ac002gkey2" ng-model="vm.ab120.ac002gkey2" />
					</div>
				</div>
				<div class="form-group">
					<label for="ac002gkey3" class="col-xs-3 col-sm-2 control-label">Ac002gkey3:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="ac002gkey3" name="ac002gkey3" ng-model="vm.ab120.ac002gkey3" />
					</div>
				</div>
				<div class="form-group">
					<label for="ac002gkey4" class="col-xs-3 col-sm-2 control-label">Ac002gkey4:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="ac002gkey4" name="ac002gkey4" ng-model="vm.ab120.ac002gkey4" />
					</div>
				</div>
				<div class="form-group">
					<label for="ab041gkey1" class="col-xs-3 col-sm-2 control-label">Ab041gkey1:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="ab041gkey1" name="ab041gkey1" ng-model="vm.ab120.ab041gkey1" />
					</div>
				</div>
				<div class="form-group">
					<label for="accountno1" class="col-xs-3 col-sm-2 control-label">Accountno1:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="accountno1" name="accountno1" ng-model="vm.ab120.accountno1" />
					</div>
				</div>
				<div class="form-group">
					<label for="ab041gkey2" class="col-xs-3 col-sm-2 control-label">Ab041gkey2:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="ab041gkey2" name="ab041gkey2" ng-model="vm.ab120.ab041gkey2" />
					</div>
				</div>
				<div class="form-group">
					<label for="accountno2" class="col-xs-3 col-sm-2 control-label">Accountno2:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="accountno2" name="accountno2" ng-model="vm.ab120.accountno2" />
					</div>
				</div>
				<div class="form-group">
					<label for="clsdd" class="col-xs-3 col-sm-2 control-label">Clsdd:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="clsdd" name="clsdd" ng-model="vm.ab120.clsdd" />
					</div>
				</div>
				<div class="form-group">
					<label for="mmend" class="col-xs-3 col-sm-2 control-label">Mmend:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="mmend" name="mmend" ng-model="vm.ab120.mmend" />
					</div>
				</div>
				<div class="form-group">
					<label for="chkdd" class="col-xs-3 col-sm-2 control-label">Chkdd:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="chkdd" name="chkdd" ng-model="vm.ab120.chkdd" />
					</div>
				</div>
				<div class="form-group">
					<label for="payee" class="col-xs-3 col-sm-2 control-label">Payee:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="payee" name="payee" ng-model="vm.ab120.payee" />
					</div>
				</div>
				<div class="form-group">
					<label for="bankinfo" class="col-xs-3 col-sm-2 control-label">Bankinfo:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="bankinfo" name="bankinfo" ng-model="vm.ab120.bankinfo" />
					</div>
				</div>
				<div class="form-group">
					<label for="swift" class="col-xs-3 col-sm-2 control-label">Swift:</label>
					<div class="col-xs-9 col-sm-10">
						<input type="text" class="form-control" id="swift" name="swift" ng-model="vm.ab120.swift" />
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer clearfix">
			<div class="pull-right ng-isolate-scope">
				<button class="btn btn-primary" data-style="expand-right" type="button" ng-click="vm.save()">
					<span class="glyphicon glyphicon-floppy-save"></span> Save
				</button>
				<a class="btn btn-primary" href="#/ab120"><span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>
			</div>
		</div>
	</div>
</form>
